process {
  cache = 'deep'
  executor = 'sge'
  cpus = 1
  scratch = true
  penv = 'smp'
  time = 12.h
  stageInMode = 'copy'
  beforeScript = 'source ~/.bashrc' 
  withLabel: medium_mem { 
    clusterOptions = '-l mem=32G,tmpfs=100G'
  }
  
  withLabel: small_mem {
    cpus = 1
    clusterOptions = '-l mem=4G'
  }
  
  withLabel: big_mem {
    cpus = 2
    clusterOptions = '-l mem=48G,tmpfs=100G'
  }
  
  withName: stringtie {
    clusterOptions = '-l mem=8G,tmpfs=100G'
    cpus = 4
  }

  withName: QoRTsR {
  stageInMode = 'symlink'
  scratch = false
  cpus = 1
  }

  withName: dupradar {
  cpus = 4
  clusterOptions = '-l mem=8G,tmpfs=100G'
  }

  withName: qualimap {
  clusterOptions = '-l mem=16G,tmpfs=100G'
  }

  withName: markDuplicates {
  cpus = 1
  clusterOptions = '-l mem=16G,tmpfs=100G'
  }

withName: qorts {
    cpus = 1
    clusterOptions = '-l mem=32G,tmpfs=100G'
          }

}
params {
  // Pipeline options
  aligner = 'star'
  genome = false
  outdir = './results'
  tracedir = "${params.outdir}/pipeline_info"

  timeline {
    enabled = true
    file = "${params.tracedir}/execution_timeline.html"
  }
  report {
    enabled = true
    file = "${params.tracedir}/execution_report.html"
  }
  trace {
    enabled = true
    file = "${params.tracedir}/execution_trace.txt"
  }
  dag {
    enabled = true
    file = "${params.tracedir}/pipeline_dag.svg"
  }

  genomes {
    'hg38'  { star = "/scratch/scratch/sejjctj/reference/grch38/GRCh38_gencode_v29_CTAT_lib_Mar272019.plug-n-play/ctat_genome_lib_build_dir/ref_genome.fa.star.idx/"
       fasta = "/scratch/scratch/sejjctj/reference/grch38/GRCh38_gencode_v29_CTAT_lib_Mar272019.plug-n-play/ctat_genome_lib_build_dir/ref_genome.fa"
       gtf = "/scratch/scratch/sejjctj/reference/grch38/GRCh38_gencode_v29_CTAT_lib_Mar272019.plug-n-play/ctat_genome_lib_build_dir/ref_annot.gtf"
       ref_dir = "/home/sejjctj/Scratch/reference/grch38/GRCh38_gencode_v29_CTAT_lib_Mar272019.plug-n-play/ctat_genome_lib_build_dir"
    }  
    'mm10'  { star = "/scratch/scratch/sejjctj/reference/grcm38/star/"
       fasta = "/scratch/scratch/sejjctj/reference/grcm38/Mus_musculus.GRCm38.dna.primary_assembly.fa"
       gtf = "/scratch/scratch/sejjctj/reference/grcm38/Mus_musculus.GRCm38.95.gtf"
       ref_dir = "/scratch/scratch/sejjctj/reference/grcm38"
    }
 }
}
